@import "../../../../styles/breakpoints.scss";

.item-bestsellers {
  flex: 0 1 25%;
  margin: 0;
  padding: 10px 13px 17px;
  border: 1px solid transparent;
  transition: all 0.3s ease 0s;
  &:hover {
    border-color: #cccccc;
  }

  &__img {
    padding: 0 0 80% 0;
    width: 247px;
    margin: 0 auto 33px;
  }

  &__title {
    font-family: "Readex Pro", sans-serif;
    font-size: 22px;
    line-height: 120%;
    margin-bottom: 9px;
  }
  &__text {
    width: 260px;
    font-size: 14px;
    line-height: 120%;
    margin-bottom: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__price {
    font-size: 18px;
    text-transform: uppercase;
  }
}
