.feature {
  &__body {
    position: relative;
  }
  &__img {
    height: 550px;
    width: 100%;
    img {
      margin-bottom: 550px;
    }
  }
  &__content {
    max-width: 600px;
    position: absolute;
    top: 145px;
    left: 56px;
  }
  &__title {
    font-family: "Readex Pro", sans-serif;
    font-size: 58px;
    line-height: 120%;
    margin-bottom: 20px;
  }
  &__text {
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 44px;
  }
  &__link {
    font-size: 18px;
    padding: 14px 53px;
    border-radius: 200px;
    border: 1px solid black;
    line-height: 120%;
    transition: all 0.3s ease 0s;
    &:hover {
      color: white;
      background-color: black;
    }
  }
}
