@import "../../../styles/breakpoints.scss";

.product-row {
  &__body {
    display: flex;
    margin: 0 -3px;
    flex-wrap: wrap;
  }
  @include l {
    &__body {
      flex-wrap: wrap;
      margin: 0 -3px;
      justify-content: center;
    }
  }
}
